Binaries
Plugins/Binaries
Build
Saved
Intermediate
DerivedDataCache

.vscode
.vs

*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

*.gch
*.pch

*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
*.ipa
